.App {
  text-align: center;
}

.App-header {
  background-color: #a4b2c7;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Message-text  {
  color:black
}
