.Chat-list {
    background-color: #a4b2c7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
.Chat-list__item.MuiListItem-root {
    justify-content: center;
}